<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335810964293-pkreklpn15a2v4h728jkruk0do4i5u62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335810964293-pkreklpn15a2v4h728jkruk0do4i5u62</string>
	<key>API_KEY</key>
	<string>AIzaSyD960mjpNLydICvbSAtE0qd3ooClkB3gz4</string>
	<key>GCM_SENDER_ID</key>
	<string>335810964293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.sepp.pendlerinfo</string>
	<key>PROJECT_ID</key>
	<string>pendlerinfo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pendlerinfo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335810964293:ios:8deb2245eea233cdc76c2c</string>
</dict>
</plist>